.contact {
  padding: 100px;
}

.contact-heading {
  font-size: 3rem;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1 !important;
  color: #333;
  text-align: left;
}

.contact-subheading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4c888e;
  text-align: left;
}

.contact-row {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.service-column {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  border: none;
}

.contact-item {
  display: flex;
  align-items: start;
  gap: 30px;
  margin-top: 20px;
}

.contact-item-title {
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: -0.02em;
  line-height: 1.2;
}

.contact-item-text {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.7;
}

.right-column form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  font-size: 15px;
  font-weight: normal;
  line-height: 1.7;
  letter-spacing: 0.5px;
  margin-bottom: 10px;
}

.form-group input,
.form-group textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
}

.form-group textarea {
  height: 150px;
  resize: vertic
  al;
}

.form-group.phone {
 display: none !important;
}

.submit-btn {
  background-color: #4c888e;
  color: white;
  border: none;
  padding: 14px 34px !important;
  border-radius: 5px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  max-width: 150px;
  width: 100%;
}

.submit-btn:disabled {
  background-color: #ccc;
}

.icon {
  font-size: 1.5rem;
  color: #4c888e;
}

.spinner-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.right-column {
  position: relative;
}

.submit-btn:disabled {
  background-color: #ccc;
}


@media (max-width: 768px) {
  .contact {
    padding: 20px;
  }

  .contact-row {
    grid-template-columns: 1fr;
  }

  .contact-heading {
    font-size: calc(1.425rem + 2.1vw);
  }

  .contact-subheading {
    font-size: 0.9rem;
    font-size: 700;
    line-height: 1 !important;
  }

  .contact-item-text {
    font-size: 15px;
    font-weight: normal;
  }

  .contact-item-title {
    font-weight: 700;
    font-size: 1rem;
  }

  .contact-item-text {
    font-size: 15px;
    font-weight: normal;
  }

  .form-group label {
    font-size: 15px;
    font-weight: normal;
  }

  .submit-btn {
    font-size: 1rem;
  }

  .icon {
    width: 30px !important;
    height: 30px !important;
    color: #4c888e;
  }
}
