/* Base Styles for about */
.about {
  padding: 40px 100px;
  padding-bottom: 0px !important;
}

/* Heading Styles */
.about-heading {
  font-size: 3rem;
  margin-bottom: 60px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1 !important;
  color: #333;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards; /* Animation */
}

.about-subheading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4c888e;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards; /* Animation */
  animation-delay: 0.2s; /* Slight delay */
}

/* Row Styles */
.about-row {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 40px; */
}



.about-text-paragraph {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.7;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards; /* Animation */
  animation-delay: 1.2s; /* Slight delay */
}

/* Keyframe Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* New Animation: Fade-in and Slide-up for the Image */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start with a slight downward position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in its natural position */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about-row {
    flex-direction: column;
    gap: 20px;
  }
  .about-heading {
    font-size: calc(1.425rem + 2.1vw);
    text-align: left;
    margin-bottom: 20px;
  }

  .about-subheading {
    font-size: 0.9rem;
    text-align: left;
  }

  .about-text-paragraph {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0px;
  }
}
