<div class="about" id="about">
  <div class="about-item">
    <h3 class="about-subheading">About</h3>
    <h1 class="about-heading">SSB Group</h1>

    <div class="about-row">
      <h3 class="service-text-title">Global Sourcing Solutions</h3>
      <p class="about-text-paragraph">
        We make sourcing simple, efficient, and trustworthy. Navigating the
        complexities of procurement can be daunting, but our mission is to take
        the complexity out of the equation—so you can focus on what matters
        most: growing your business.
      </p>
      <p class="about-text-paragraph">
        We understand that successful procurement isn’t just about finding
        suppliers—it’s about mitigating risks, streamlining operations, and
        delivering exceptional value at every turn. That’s why SSB offers
        comprehensive global sourcing solutions designed to keep your supply
        chain resilient and your business competitive.
      </p>

      <h3 class="service-text-title">Experience the SSB Advantage Today</h3>
      <p class="about-text-paragraph">
        Let us handle the complexities of global procurement with speed,
        integrity, and exceptional customer care. Partner with SSB to transform
        your sourcing process into a seamless, strategic advantage that propels
        your business forward.
      </p>
      <p class="about-text-paragraph">
        Contact us now to learn how SSB can simplify your sourcing and elevate
        your success.
      </p>
    </div>
  </div>
</div>
