<div class="about" id="about">
  <div class="about-item">
    <h3 class="about-subheading">About</h3>
    <h1 class="about-heading">SSB Group</h1>

    <div class="about-row">
      <p class="about-text-paragraph">
        ASL is a global procurement company offering various about to
        businesses in the oil and gas, geothermal and industrial sectors.
      </p>
      <p class="about-text-paragraph">
        We help with supplying Maintenance, Repair, and Operations (MRO) spare
        parts.
      </p>
      <p class="about-text-paragraph">
        We pride ourselves on delivering specialized about and solutions that
        empower businesses to streamline their operations and achieve peak
        performance.
      </p>
      <p class="about-text-paragraph">
        In the ever-evolving landscape of oil and gas, geothermal, and
        manufacturing industries, efficiency, reliability, and innovation are
        paramount. At ASL, we are your trusted partner in navigating these
        challenging terrains, offering a comprehensive suite of about
        tailored to meet your unique needs.
      </p>
    </div>
  </div>
</div>
