<div class="services">
  <div class="service-item">
    <h3 class="service-subheading">About</h3>
    <h1 class="service-heading">SSB Group</h1>

    <div class="service-row">
      <p class="service-text-paragraph">
        ASL is a global procurement company offering various services to
        businesses in the oil and gas, geothermal and industrial sectors.
      </p>
      <p class="service-text-paragraph">
        We help with supplying Maintenance, Repair, and Operations (MRO) spare
        parts.
      </p>
      <p class="service-text-paragraph">
        We pride ourselves on delivering specialized services and solutions that
        empower businesses to streamline their operations and achieve peak
        performance.
      </p>
      <p class="service-text-paragraph">
        In the ever-evolving landscape of oil and gas, geothermal, and
        manufacturing industries, efficiency, reliability, and innovation are
        paramount. At ASL, we are your trusted partner in navigating these
        challenging terrains, offering a comprehensive suite of services
        tailored to meet your unique needs.
      </p>
    </div>
  </div>
</div>
