<nav class="navbar">
  <div class="logo">
    <span>SSB Group</span>
  </div>
  <div class="menu">
    <ul class="desktop-menu">
      <li><a href="#" (click)="navigateTo('home')">Home</a></li>
      <li><a href="#" (click)="navigateTo('about')">About</a></li>
      <li><a href="#" (click)="navigateTo('services')">Services</a></li>
      <li><a href="#" (click)="navigateTo('contact')">Contact</a></li>
    </ul>
  </div>
  <div class="hamburger" (click)="toggleMenu()">
    <svg
      *ngIf="!isMenuOpen"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon open"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M4 6l16 0" />
      <path d="M4 12l16 0" />
      <path d="M4 18l16 0" />
    </svg>
    <svg
      *ngIf="isMenuOpen"
      xmlns="http://www.w3.org/2000/svg"
      width="24"
      height="24"
      viewBox="0 0 24 24"
      fill="none"
      stroke="currentColor"
      stroke-width="2"
      stroke-linecap="round"
      stroke-linejoin="round"
      class="icon close"
    >
      <path stroke="none" d="M0 0h24v24H0z" fill="none" />
      <path d="M18 6l-12 12" />
      <path d="M6 6l12 12" />
    </svg>
  </div>
</nav>

<div class="mobile-menu" [ngClass]="{'open': isMenuOpen}">
  <ul>
    <li><a href="#" (click)="navigateToAndClose('home')">Home</a></li>
    <li><a href="#" (click)="navigateToAndClose('about')">About</a></li>
    <li><a href="#" (click)="navigateToAndClose('services')">Services</a></li>
    <li><a href="#" (click)="navigateToAndClose('contact')">Contact</a></li>
  </ul>
</div>
