.sectors-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
  padding: 100px;
  background-color: #f8f9fa;
  flex-wrap: wrap;
}

.service-heading-container {
  text-align: center;
  margin-bottom: 100px;
}

.service-heading {
  font-size: 3rem;
  margin-bottom: 40px;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1 !important;
  color: #333;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
}

.service-subheading {
  font-size: 1.5rem;
  margin-bottom: 10px;
  color: #4c888e;
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards;
  animation-delay: 0.2s;
}

.sectors-container .sector {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: #4c888e;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: left;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
  transition: transform 0.3s ease;
  margin-top: -150px !important;
  min-height: 300px;
  overflow: hidden;
}

.sectors-container .sector:nth-child(1) {
  animation-delay: 0.2s;
}

.sectors-container .sector:nth-child(2) {
  animation-delay: 0.4s;
}

.sectors-container .sector:nth-child(3) {
  animation-delay: 0.6s;
}

.sectors-container .sector:hover {
  transform: translateY(-10px);
}

.sectors-container .sector .icon {
  font-size: 40px;
  color: #fff;
  margin-bottom: 15px;
}

.sectors-container .sector h3 {
  font-size: 1.8rem;
  font-weight: 800;
  color: #fff;
  letter-spacing: -1px;
  margin-bottom: 15px;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards;
  animation-delay: 0.8s;
}

.sectors-container .sector p {
  font-size: 1rem;
  color: #fff;
  line-height: 1.5;
  overflow: hidden;
  margin-bottom: 15px;
  flex-grow: 1;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .sectors-container {
    padding: 20px;
    padding-top: 0px;
    gap: 20px;
    flex-direction: column;
  }

  .service-heading-container {
    padding: 20px;
    padding-top: 0px;
    margin-bottom: 0px;
  }

  .sectors-container .sector {
    width: 100%;
    min-height: auto;
    height: auto;
    margin-top: 0 !important;
  }

  .sectors-container .sector .icon {
    font-size: 35px;
  }

  .sectors-container .sector h3 {
    font-size: 1.5rem;
    text-align: left;
  }

  .sectors-container .sector p {
    font-size: 1rem;
    text-align: left;
  }

  .service-heading {
    font-size: calc(1.425rem + 2.1vw);
    text-align: left;
    margin-bottom: 20px;
  }

  .service-subheading {
    font-size: 0.9rem;
    text-align: left;
  }
}
