<section class="contact" id="contact">
  <div class="contact-row">
    <!-- Left Column: Contact Information -->
    <div class="service-column left-column">
      <h3 class="contact-subheading">Get in touch</h3>
      <h1 class="contact-heading">Contact Us</h1>
      <p class="contact-item-text">
        We’re here to assist you! Please reach out with any questions, feedback,
        or project inquiries.
      </p>

      <div class="contact-items">
        <div class="contact-item">
          <i class="fas fa-envelope icon"></i>
          <div class="contact-item-details">
            <p class="contact-item-title" style="color: #4682B4;">Email</p>
            <p class="contact-item-text">info&#64;vertexglobalsourcing.com</p>
          </div>
        </div>

        <div class="contact-item">
          <i class="fas fa-map-marker-alt icon"></i>
          <div class="contact-item-details">
            <p class="contact-item-title" style="color: #4682B4;">Address</p>
            <p class="contact-item-text">Houston, Texas.</p>
          </div>
        </div>
      </div>
    </div>

    <!-- Right Column: Contact Form -->
    <div class="contact-column right-column">
      <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" id="name" formControlName="name" required />
        </div>

        <div class="form-group">
          <label for="email">Email</label>
          <input type="email" id="email" formControlName="email" required />
        </div>

        <!-- <div class="form-group phone">
          <label for="phone">Phone</label>
          <input type="number" id="phone" formControlName="phone" required />
        </div> -->

        <div class="form-group">
          <label for="message">Message</label>
          <textarea id="message" formControlName="message" required></textarea>
        </div>

        <div class="form-group recaptcha">
          <re-captcha
            [siteKey]="siteKey"
            (resolved)="onCaptchaResolved($event)"
          ></re-captcha>
        </div>

        <button type="submit" class="submit-btn">Submit</button>
      </form>
      <div *ngIf="isLoading" class="spinner-container">
        <div class="spinner-border text-primary" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Toast Message -->
<div
  class="toast-container position-fixed top-0 end-0 p-3"
  style="z-index: 9999"
>
  <div
    #toastEl
    class="toast align-items-center border-0"
    [class]="toastClass"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
  >
    <div class="d-flex">
      <div class="toast-body">{{ toastMessage }}</div>
      <button
        type="button"
        class="btn-close btn-close-white me-2 m-auto"
        data-bs-dismiss="toast"
        aria-label="Close"
      ></button>
    </div>
  </div>
</div>
