/* Base Styles for about */
.about {
  padding: 100px;
  margin-top: 100px;
  /* margin-bottom: 80px; */
  padding-bottom: 0px !important;
}

/* Heading Styles */
.about-heading {
  font-size: 2rem;
  /* margin-bottom: 40px; */
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 1 !important;
  color: #0070C5;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards; /* Animation */
}

.about-subheading {
  font-size: 1.3rem;
  margin-bottom: 10px;
  color: #D2691E;
  text-align: center;
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards; /* Animation */
  animation-delay: 0.2s; /* Slight delay */
}

/* Row Styles */
.about-row {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 40px; */
}

.about-text-paragraph {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.7;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards; /* Animation */
  animation-delay: 1.2s; /* Slight delay */
}

.service-text-title {
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 0px;
  line-height: 1.2;
  text-align: center;
  color: #D2691E;
  margin-bottom: 20px;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards; /* Animation */
  animation-delay: 1s; /* Slight delay */
}

/* New: Service List Styles */
.about-service-list {
  padding-left: 20px;
  font-size: 16px;
  line-height: 1.7;
  font-weight: 500;
  opacity: 0;
  animation: fadeInUp 1.8s ease-out forwards;
  animation-delay: 1.5s;
}

.about-service-list li {
  margin-bottom: 10px;
  list-style: none;
}

.check {
  display: inline-block;
  color: #D2691E;
  font-weight: bold;
  margin-right: 6px;
}

/* Keyframe Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* New Animation: Fade-in and Slide-up for the Image */
@keyframes fadeInSlideUp {
  0% {
    opacity: 0;
    transform: translateY(20px); /* Start with a slight downward position */
  }
  100% {
    opacity: 1;
    transform: translateY(0); /* End in its natural position */
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .about {
    padding: 20px;
  }

  .about-row {
    flex-direction: column;
    gap: 20px;
  }

  .about-heading {
    font-size: calc(1.425rem + 2.1vw);
    text-align: left;
    margin-bottom: 20px;
  }

  .about-subheading {
    font-size: 0.9rem;
    text-align: left;
  }

  .about-text-paragraph {
    font-size: 15px;
    font-weight: normal;
    margin-bottom: 0px;
  }

  .service-text-title {
    font-size: 20px;
    font-weight: 500;
    text-align: left;
  }

  .about-service-list {
    font-size: 15px;
    padding-left: 18px;
  }

  .about-service-list li {
    margin-bottom: 8px;
  }
}
