<div class="about" id="about">
  <div class="about-item">
    <!-- <h3 class="about-subheading">About</h3> -->
    <h1 class="about-heading">SSB Group</h1>

    <div class="about-row">
      <h3 class="service-text-title">Global Sourcing Solutions</h3>
      <p class="about-text-paragraph">
        We specialize in providing end-to-end solutions that encompass sourcing,
        procurement, and logistics for industrial projects across energy,
        manufacturing, and process industries. Our services include:
      </p>
    </div>
  </div>
</div>
