<div class="about" id="about">
  <div class="about-item">
    <!-- <h3 class="about-subheading">About</h3> -->
    <h1 class="about-heading">SSB Group</h1>

    <div class="about-row">
      <h3 class="service-text-title">Global Sourcing Solutions</h3>
      <p class="about-text-paragraph">
        We specialize in providing end-to-end solutions that encompass sourcing,
        procurement, and logistics for industrial projects across energy,
        manufacturing, and process industries. Our services include:
      </p>
      <ul class="about-service-list">
        <li> <span class="check">✔</span><strong>Sourcing & Procurement:</strong> Identifying reliable global suppliers, managing quotations, purchase orders, and ensuring the timely delivery of high-quality equipment and components.</li>
        <li><span class="check">✔</span><strong>Logistics Management:</strong> Coordinating shipping, customs clearance, freight forwarding, and last-mile delivery, ensuring your materials reach their destination safely and on schedule.</li>
        <li><span class="check">✔</span><strong>Project-Specific Solutions:</strong> Tailoring procurement and logistics strategies to meet technical requirements, project timelines, and budget constraints.</li>
        <li><span class="check">✔</span><strong>Supply Chain Optimization:</strong> Streamlining operations to minimize delays and reduce costs while maintaining quality standards.</li>
      </ul>
    </div>
  </div>
</div>
