<div class="services" id="services">
  <div class="service-item">
    <h3 class="service-subheading">Our</h3>
    <h1 class="service-heading">Services</h1>
    <div class="service-row">
      <div class="service-image">
        <img
          src="assets/flareoilandgas.jpg"
          alt=""
        />
      </div>
      <div class="service-text">
        <h3 class="service-text-title">Sourcing & Procurement</h3>
        <p class="service-text-paragraph">
          We understand that the success of your operations hinges on the
          quality and timely delivery of essential materials and equipment. Our
          sourcing and procurement services are designed to ensure you have
          access to the best resources available on the global market.
        </p>
      </div>
    </div>
    <div class="service-row">
      <div class="service-text">
        <h3 class="service-text-title">Logistics Services</h3>
        <p class="service-text-paragraph">
          Efficient logistics are crucial for keeping your operations running
          smoothly. Our logistics services offer a seamless and integrated
          approach to supply chain management.
        </p>
      </div>
      <div class="service-image">
        <img
          src="assets/logisticsservices.jpg"
          alt=""
        />
      </div>
    </div>
  </div>
</div>
