/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Raleway", serif !important;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  color: #333;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Libre Baskerville", serif !important;
}
