/* Base Styles for Footer */
.footer {
  padding: 80px;
  padding-bottom: 0px !important;
  background-color: #fff;
}

/* Heading Styles */
.footer h4 {
  font-size: 2rem;
  margin-bottom: 20px;
  font-weight: 800;
  letter-spacing: -1px;
  color: #4682B4 ;
  text-align: left;
  opacity: 0;
  animation: fadeInUp 1s ease-out forwards; /* Animation */
}

/* Paragraph Styles */
.footer p {
  font-size: 1rem;
  color: #555;
  opacity: 0;
  animation: fadeInUp 1.2s ease-out forwards; /* Animation */
  animation-delay: 0.2s; /* Slight delay */
  margin-bottom: 10px;
}

.footer ul {
  list-style: none;
}

/* Row Styles */
.footer .row {
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 30px;
  margin-bottom: 0; /* Removed margin-bottom */
}

/* Column Styles */
.footer .col-md-4 {
  flex: 1;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards; /* Animation */
}

.footer .col-md-4 a {
  color: #333;
  text-decoration: none;
  font-size: 1rem;
}

.footer .col-md-4 a:hover {
  text-decoration: underline;
  color: #4682B4;
}

.footer .social-icons a {
  color: #D2691E;
  margin-right: 15px;
  margin-top: 10px;
  font-size: 1.5rem; /* Adjust icon size */
  text-decoration: none;
}

.footer .social-icons a:hover {
  color: #4682B4;
  text-decoration: underline;
}

/* Icon Styling */
.footer .social-icons i {
  transition: color 0.3s ease;
}

.footer .social-icons a:hover i {
  color: #4682B4; /* Change icon color on hover */
}

/* Second Row for Dynamic Copyright */
.footer .text-center {
  font-size: 1rem;
  color: #777;
  margin-top: 80px;
  opacity: 0;
  animation: fadeInUp 1.5s ease-out forwards;
  animation-delay: 1s;
}

/* Keyframe Animations */
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

/* Responsive Design */
@media (max-width: 768px) {
  .footer {
    padding: 20px;
  }

  .footer .row {
    flex-direction: column;
    gap: 20px;
  }

  .footer h4 {
    font-size: 20px;
    text-align: left;
    margin-bottom: 15px;
  }

  .footer p {
    font-size: 1rem;
    text-align: left;
  }

  .footer .social-icons a {
    font-size: 1.5rem;
    margin-right: 10px;
  }

  .footer .text-center {
    font-size: 0.9rem;
    margin-top: 40px;
  }
}
